/* Magic Mirror
 * Module: MMM-HappyHours
 *
 * By Alec Keller
 *
 */
 @import url('https://fonts.googleapis.com/css?family=Oswald');

 .MMM-HappyHours .title {
	font-family: 'Oswald', sans-serif;
  float: left;
  padding-bottom: 20px;
  font-size: 25px;
  line-height: 35px;
}
